:host {
  display: block;
}

.display-box {
  display: block;
  position: relative;
  top: 375px;
  border: 1px solid red;
}

/* i {
  color: blue;
  background-color: white;
} */

/* .close-menu {
  display: block;
  position: relative;
  top: 700px;
}
 */

.menu-row {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  z-index: 3;
  background-color: #333;
  color: #fff;
}

.voter-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5px 15px 0px 0px;
  a {
    padding: 1em 0.25em 0.25em 0.25em;
  }
}

.menu-row .menu {
  display: flex;
  flex-direction: row;
  background-color: #333;
  color: #fff;
  justify-content: flex-start;
  width: auto;
  position: relative;
  padding: none;
  top: 0px;
  left: 0px;
  max-height: none;
}

.menu-row ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.menu-row li a {
  display: block;
  color: #fff;
  padding: 1em;
  font-size: 1em;
  line-height: 1;
  text-decoration: none;
  &:focus,
  &:focus.focused,
  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: #666;
    outline: none !important;
  }
}

.menu-row .menu-icon {
  display: none;
}

.menu-row .menu-btn {
  display: none;
}

@media screen and (max-width: 700px) {
  .menu-row .menu {
    display: flex;
    flex-direction: column;
    max-height: 0;
    width: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #333;
    transition: max-height 0.2s ease-out;
  }

  .menu-row ul {
    margin: 0;
    padding-top: 50px;
  }

.menu-row .menu-icon {
    cursor: pointer;
    display: inline-block;
    z-index: 99;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  .menu-row .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }

  .menu-row .menu-icon .navicon:before,
  .menu-row .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    /*   color: white; */
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .menu-row .menu-icon .navicon:before {
    top: 5px;
  }

  .menu-row .menu-icon .navicon:after {
    top: -5px;
  }

  /* menu btn */

  .menu-row .menu-btn {
    display: none;
  }

  .menu-row .menu-btn:checked ~ .menu {
    max-height: 240px;
    background-color: white;
    color: black;
  }

  .menu-row .menu-btn:checked ~ ul li a {
    background-color: white;
    color: black;
    &:focus,
    &:focus.focused,
    &:hover {
      text-decoration: none;
      color: #fff;
      background-color: #666;
      outline: none !important;
    }    
  }

  .menu-row .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
    color: black;
  }

  .menu-row .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu-row .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu-row .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-row .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
}
