    <h2 class="element-invisible skip-focus">Main Menu</h2>
    <div class="menu-row">
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li *ngFor="let item of menu">
          <a href="item.url">
            {{item.text.value}}
          </a>
        </li>
      </ul>
      <div class="voter-info">
        <a>Sample User</a><a>|</a>
        <a>End Session</a>
      </div>   
    </div>    

<!--     <ng-container *ngIf="smallScreen; else bigScreen">
      <div class="menu-row">
        <nav id="nav" role="navigation">
          <div id="menuToggle">
            <input #checkbox type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>
        
          <ul id="menu">
            <li *ngFor="let item of menu">
              <a href="item.url">
                {{item.text.value}}
              </a>
            </li>
          </ul>
          </div>
        </nav>

        <div class="voter-info">
          <a>Sample User</a><a>|</a>
          <a>End Session</a>
        </div>
      </div>
      
    </ng-container>

    <ng-template #bigScreen>
      <div class="menu-row">
        <nav>
          <ul id="menu">
            <li *ngFor="let item of menu">
              <a href="item.url">
                {{item.text.value}}
              </a>
            </li>
          </ul>

        </nav>
        <div class="voter-info">
          <a>Sample User</a><a>|</a>
          <a>End Session</a>
        </div>      
      </div>      
    </ng-template> -->




<div *ngIf="showPad">
  <div #wrapper class="display-box">
    <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()">
    </signature-pad>
  </div>
</div>

<!-- <button class="close-menu" (click)="toggleMenuButton()">
  <i class="fa fa-coffee fa-2x"></i>Toggle the Menu
</button> -->