:host {
  display: block;
}

.display-box {
  display: block;
  position: relative;
  top: 375px;
  border: 1px solid red;
}

/* i {
  color: blue;
  background-color: white;
} */

/* .close-menu {
  display: block;
  position: relative;
  top: 700px;
}
 */
